/* =================================
        Mobile Responsiveness
================================= */

@media (max-width: 1024px) {
    .soundcloudTapes iframe {width: 100%;}
}

@media (max-width: 991px) {
    .divider {display: none;}
    .navbar-nav {text-align: center;}
    .nav-item:last-child {margin-bottom: 25px;}
}

@media (max-width: 768px) {
    #titleBox {margin: 50px 20%;}
    .contactVia {margin: 50px 20%;}
}

@media (max-width: 414px) {
    h3 {width: 100%;}
    #titleBox {margin: 50px 0;}
    .contactVia {margin: 50px 0;}
    .profilePic {width: 100%; height: 100%; margin-right: 0; margin-bottom: 15px;}
}

@media (max-width: 375px) {
    h1 {font-size: 36px;}
}